body {
    font-family:Roboto;
    background-color: #3A53F0;
    color: #EAB8CE;
}

h1, h2, h3, h4, h5, h6{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align:center;
}

h1{
    font-size: 40pt;
}

header{
    text-align: center;
}

#hero, footer {
    color: #401bc5f5;
    border: 2px solid #F03226;
    background-color: #EF9318;
    text-align: center;
    padding: 10px;
}

#hero img{
    width: 300px;
}

#bio{
    text-align: center;
}

#hobbies ul li:nth-child(even) {
    color: #000000;
}

#gallery{
    border:2px solid red

}

#gallery img{
    max-width: 100%;
}

#gallery figure{
    text-align:center;
}