body {
    font-family:Roboto;
    background-color: #3A53F0;
    color: #EAB8CE;
}

h1, h2, h3, h4, h5, h6{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    text-align:center;
}

h2 {
    margin: .1em;
}

h1{
    font-size: 40pt;
}

header{
    text-align: center;
}

#hero, footer {
    color: #401bc5f5;
    border: 2px solid #F03226;
    background-color: #EF9318;
    text-align: center;
    padding: 10px;
}

#hero img{
    width: 300px;
}

#bio{
    text-align: center;
}

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li:nth-child(even) {
    color: #000000;
}

#gallery{
    border:2px solid #ff0000;
    margin-bottom: 2rem;

}

#gallery img{
    max-width: 100%;
}

#gallery figure{
    text-align:center;
}

#lit{
    border:2px solid #ff0000;
    margin-bottom: 2rem;
}

#lit div{
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding:0.3rem 0;
    clear:both;

}

#lit div p:first-letter {
color:#ff0000;
float:left;
font-size:3em;
padding:.25em;
line-height:.65;
border: 4px outset orange;
font-family: sans-serif;
text-shadow: 2px 2px 3px black;
box-shadow: 5px 5px 5px black;
}


@media screen and (min-width:60em){
figure{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
figcaption{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
}


}